<html>
  <head>
    <title>Camera Index</title>
    <link rel="stylesheet" type="text/css" href="static/yeetstrap.css">
  </head>
  <body>
    <div class="jumbotron">
      <img id="image" scr="/static/default.jpg" style="width:612px;height:612px;">
      <hr>
      <h1 class="display">Select a camera below to get the latest image from it</h1>
    </div>
    <button onclick="document.getElementById('myImage').src=
    'https://static.gamespot.com/uploads/screen_kubrick/1581/15811374/3507715-apexlegends-protipstoknow-promo.jpg'">
      Apex Legends</button>
    <button onclick="document.getElementById('myImage').src=
    '/static/default.jpg'">
      Default</button>
  </body>
</html>
